<div>
    <h2>
        All Posts
    </h2>
</div>
{{#each post as |post|}}
    <div>
        <div>
            <a href="/post/{{post.id}}">
                <div>
                    <h3>
                        {{post.title}}
                    </h3>
                    <p>
                        Posted by {{post.User.username}} on {{format_date post.updatedAt}}
                    </p>
                </div>
            </a>
            <p>
                {{post.body}}
            </p>
        </div>
    </div>
{{/each}}